<html>
  <form>
    <h1>Login</h1>
    <div class="imgcontainer">
      <img src="/assets/loginImage.jfif" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button class="submit" type="submit" routerLink="/InstructionPageComponent"
      routerLinkActive="active">Login</button><br>
      
     
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn" routerLink="/RegisterComponent">Sign Up</button>
      
    </div>
  </form>
</html>