.container {
    padding: 16px;
    width: 50%;
    height: 50%;
    align-content: center;
    align-items: center;
    border: 3px solid #f1f1f1;
    margin-left: 30%;
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
        align-content: center;
      }

      input[type=text] {
        width: 90%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
      }

   
      .registerbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 50%;
        opacity: 0.9;
        margin-left: 20%
      }
    
      h1{
        text-align: center;
    }
    textarea{
        width: 90%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;

    }