<form >
    <div class="container">
      <h1>Add Question</h1>
      
      <hr>
     
      <label for="question"><b>Question :</b></label>
      <br><textarea rows="4" cols="50" placeholder="Enter Question" name="question" required></textarea>
   
      <br><br><label for="option1"><b>Option 1 :</b></label>
      <input type="text" placeholder="Enter Option 1" name="option1" required>
  
      <label for="option2"><b>Option 2</b></label>
      <input type="text" placeholder="Enter Option 2" name="option2" required>

      <label for="option3"><b>Option 3:</b></label>
      <input type="text" placeholder="Enter Option 3" name="option3" required>

      <label for="option4"><b>Option 4:</b></label>
      <input type="text" placeholder="Enter Option 4" name="option4" required>

      <label for="answer"><b> Answer : </b></label>

      <label for="answera"><b> a </b></label>
      <input type="radio"  name="answera" >

      <label for="answerb"><b> b </b></label>
      <input type="radio"  name="answerb" >

      <label for="answerc"><b> c </b></label>
      <input type="radio"  name="answerc" >

      <label for="answerd"><b> d </b></label>
      <input type="radio"  name="answerd" >
  
      
      <br><br><button type="submit" class="registerbtn">Continue</button>
    </div>
  
    
  </form>