<html>
  <body>
    <div class="container">
      <h1 style="background-color:#f1f1f1">Instruction for Quiz</h1>
      <br>
      <div class="contain">
        <p>1. Total Number of questions 15</p>
        <p>2. All Questions are Compulsory</p>
        <p>3. Questions are Based on Basic Kubernetes</p>
        <p>4. Each Question consist of 1 Mark</p>
        <p>5. Passing Percentage 70% </p>
        <p>6. Click on <b>Start</b> button to start the test</p>
        <br>
        <p><b>Note:</b> No negative Marking</p>
        <button routerLink = "/QuizPaperComponent"> Next </button>
      </div>
    </div>
</body>
</html>